<h2>Pridat novy clanok</h2>


<%= form_for @article do |f| %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :category %>
		<%= f.text_field :category %>
	</p>

	<p>
		<%= f.label :body %>
		<%= f.text_field :body %>
	</p>

	<p>
		<%= f.submit "Ulozit clanok" %>
	</p>
<% end %>